.header{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: 30px 30px;
    border-left: 15px solid var(--preset-color-green-1);
    border-bottom: 15px solid var(--preset-color-green-1);
}

.header_intro{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header_title{
    color: var(--preset-color-black-1);
    font-family: var(--preset-text-1-font-family);
    font-size: var(--preset-text-1-font-size);
    font-weight: var(--preset-text-1-font-weight);
    line-height: var(--preset-text-1-line-height);
    letter-spacing: var(--preset-text-1-letter-spacing);
    margin: 0px;
}

.header_desc{
    color: var(--preset-color-grey-3);
    font-family: var(--preset-text-2-font-family);
    font-size: var(--preset-text-2-font-size);
    font-weight: var(--preset-text-2-font-weight);
    line-height: var(--preset-text-2-line-height);
    letter-spacing: var(--preset-text-2-letter-spacing);
    margin: 0px;
}

.header_progress{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--bottom-layer);
}

@media(max-width: 700px){
    .header_title{
        font-size: 2rem;
        line-height: 3rem;
    }

    .header_desc{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}