.toast{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--preset-color-green-1);
    color: white;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    font-family: var(--preset-text-4-font-family);
    font-size: var(--preset-text-4-font-size);
    font-weight: var(--preset-text-4-font-weight);
    line-height: var(--preset-text-4-line-height);
    letter-spacing: var(--preset-text-4-letter-spacing);
}